{:paths ["src" "resources"]
 :deps {markdown-clj/markdown-clj {:mvn/version "1.12.3"}}
 :aliases
 {:dev
  {:extra-deps {dev.rpub/rpub {:git/url "https://github.com/rpub-clj/rpub.git"
                               :git/sha "cce3bf06b626f3a7f075d29b91472db05847f04e"}}}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}}
   :ns-default build}}}
