{:paths ["src" "resources"]
 :deps {markdown-clj/markdown-clj {:mvn/version "1.12.3"}}
 :aliases
 {:dev
  {:extra-deps {dev.rpub/rpub {:git/url "https://github.com/rpub-clj/rpub.git"
                               :git/sha "96c128d7d19d41f7cdd5141e85bf0c9e961f80b2"}}}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.8"}}
   :ns-default build}}}
