{:paths ["src"]
 :deps {org.clojure/data.xml {:mvn/version "0.0.8"}
        org.clojure/data.zip {:mvn/version "1.1.0"}}
 :aliases
 {:dev
  {:extra-deps {dev.rpub/rpub {:git/url "https://github.com/rpub-clj/rpub.git"
                               :git/sha "cce3bf06b626f3a7f075d29b91472db05847f04e"}}}}}
