{:paths ["src" "resources"]
 :deps {io.github.rads/migrate {:mvn/version "0.0.1"}
        io.minio/minio {:mvn/version "8.5.17"}
        jarohen/chime {:mvn/version "0.3.3"}}
 :aliases
 {:dev
  {:extra-deps {dev.rpub/rpub {:git/url "https://github.com/rpub-clj/rpub.git"
                               :git/sha "475bb5c594babbe99d5a36c9935bd9656c410e43"}}}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}}
   :ns-default build}}}
